html{
    scroll-behavior: smooth;
}
.about-us-content-bras{
    background-image: linear-gradient(rgba(39, 38, 38, 0.9), rgba(45, 45, 45, 0.9)), url('/css/assets/artists-bg/brass-bg.JPG');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.about-us-content-10am{
    background-image: linear-gradient(rgba(39, 38, 38, 0.9), rgba(45, 45, 45, 0.9)), url('/css/assets/artists-bg/10am-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.about-us-content-uncle{
    background-image: linear-gradient(rgba(39, 38, 38, 0.9), rgba(45, 45, 45, 0.9)), url('/css/assets/artists-bg/uncle-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.about-us-content-sansette{
    background-image: linear-gradient(rgba(39, 38, 38, 0.9), rgba(45, 45, 45, 0.9)), url('/css/assets/artists-bg/sansette-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.about-us-content-lili{
    background-image: linear-gradient(rgba(39, 38, 38, 0.9), rgba(45, 45, 45, 0.9)), url('/css/assets/artists-bg/lili-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.about-us-content-spacedog{
    background-color: linear-gradient(rgba(39, 38, 38, 0.9), rgba(45, 45, 45, 0.9)), url('/css/assets/artists-bg/spacedog-bg.jpg');
    /*background-color: #232323;*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.about-us-content-revisor{
  background-color: linear-gradient(rgba(39, 38, 38, 0.9), rgba(45, 45, 45, 0.9)), url('/css/assets/artists-bg/revisors-bg.jpg');
    /*background-color: #232323;*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.double-header{
    height: 3rem;
}
.double-header .db-content{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(35, 35, 35, 0.7);
    height: 100%;
}
.double-header .db-content li{
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
}
.double-header .db-content li:hover{
    cursor: pointer;
    -o-transition:1s;
    -ms-transition:1;
    -moz-transition:1s;
    -webkit-transition:.1s;
    transition:1s;
    color: rgb(255, 255, 255);
    border-bottom: 3px solid transparent;
}

/*UNDER PRODUCTS STYLE*/
.product-content{
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-38 {
  background-color: #232323;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-38:hover {
  background-color: #575656;
  opacity: 1;
}

.button-38:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-38:focus-visible {
  box-shadow: none;
}

.grid-item-prod {
  background-color: rgb(170, 175, 181);
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
