/*RESPONSIVE*/

@media only screen and (max-width: 768px){
    .book-now-container{
        display: none;
    }
    .navigation-bar{
        display: flex;
        justify-content: space-between;
    }
    .contact {
        display: flex;
        
    }
    .input-group{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    
}