/* RESPONSIVE */

@media only screen and (max-width: 768px){
.book-now-container{
display: none;
}
.navigation-bar{
display: flex;
justify-content: space-between;
}
.contact {
display: flex;
}
.input-group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}
.nav-links {
    display: none; /* Hide navigation links */
    flex-direction: column; /* Stack links vertically */
    width: 100%; /* Full width */
}

.nav-links.active {
    display: flex; /* Show links when active */
}

.navigation-bar .toggle-btn {
    display: block; /* Show toggle button */
}
}