/* RESPONSIVE */


/* Base styles for navigation */
.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Hide the toggle button by default */
.toggle-btn {
    display: none; /* Initially hidden */
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    .book-now-container {
        display: none; /* Hide "Book Now" button on smaller screens */
    }

    .nav-links {
        display: none; /* Hide nav links by default */
        flex-direction: column; /* Stack links vertically */
        width: 100%; /* Full width for dropdown */
        background-color: #232323; /* Background color for dropdown */
        position: absolute; /* Position it absolutely */
        top: 100%; /* Position below the navbar */
        right: 0;
    }

    .nav-links.active {
        display: flex; /* Show links when active */
    }

    .toggle-btn {
        display: block; /* Show toggle button on small screens */
        cursor: pointer; /* Change cursor to pointer */
    }

    /* Adjust navbar layout */
    .navigation-bar {
        flex-direction: column; /* Stack elements vertically */
        align-items: flex-start; /* Align items to the left */
    }
}

/* Additional styles for even smaller screens */
@media only screen and (max-width: 480px) {
    .book-now-container {
        display: none; /* Hide "Book Now" button on smaller screens */
    }
    .nav-links {
        padding: 10px; /* Add some padding for mobile */
    }
    .nav-links {
        display: none; /* Hide nav links by default */
        flex-direction: column; /* Stack links vertically */
        width: 100%; /* Full width for dropdown */
        background-color: #232323; /* Background color for dropdown */
        position: absolute; /* Position it absolutely */
        top: 100%; /* Position below the navbar */
        right: 0;
    }
    .nav-links.active {
        display: flex; /* Show links when active */
    }

}
@media only screen and (max-width: 600px) {

    .book-now-container {
        display: none; /* Hide "Book Now" button on smaller screens */
    }
    .nav-links {
        display: none; /* Hide nav links by default */
        flex-direction: column; /* Stack links vertically */
        width: 100%; /* Full width for dropdown */
        background-color: #232323; /* Background color for dropdown */
        position: absolute; /* Position it absolutely */
        top: 100%; /* Position below the navbar */
        right: 0;
    }
    .nav-links.active {
        display: flex; /* Show links when active */
    }


     }