*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

a{
    font-family: 'Poppins', sans-serif;
    font-weight:normal;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

body{
    font-family: "Inter-Regular", Helvetica;
    color: #ffffff;
    background-color: #232323;
}

#navbar{
    position: sticky;
    top: 0;
    background-color: #232323;
}
#double-header{
  position: sticky;
  top: 0;
}
#navbar2{
  background-color: #232323;
}
.navigation-bar{
    width: auto;
    height: 110px;
    display: flex;
    align-items: center;
}

.navigation-bar .img-size{
    height: 80px;
    width: auto;
    padding: 0 10px;
    margin: 0 20px;
}

.navigation-bar ul{
    float:inline-end;
}

.navigation-bar ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 20px;
    padding: 10px 0;
    white-space: nowrap;
}

.nav-links{
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}

.nav-links #item{
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  padding: 10px;
}

#item:hover{
  scale: 1s;
  transition: 0.5s;
  background-color:  #4a4949;
  color: white;
  border-radius: 50px;
  padding: 10px;
}

.navigation-bar .toggle-btn{
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 30px;
    display: none;
}
.book-now-container{
  width: 100%;
  display: flex;
  justify-content: end;
  padding: 30px;
}
.book-now{
    background: rgb(255,223,109);
    background: linear-gradient(90deg, rgba(255,223,109,1) 0%, rgba(255,199,0,1) 100%);
    color: #000000;
    padding: 1rem 1.5rem;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}
.book-now:hover{
    scale: 1.1;
    transition: 0.3s;
}

/*RESPONSIVE NAVIGATION BAR*/
@media (max-width: 1035px) {
    .navigation-bar .nav-links,
    .navigation-bar .book-now{
        display: none;
    }

    .navigation-bar .toggle-btn{
        display: block;
    }
}
/*FIRST SECTION OF HOMEPAGE STYLE*/
.hero-section{
    background-color: #7a7a7a;
    height: 720px;
    width: auto;
}
.hero-section .overlap-group{
    background-image: url('assets/bg-image.png');
    background-size: cover;
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-container{
    padding: 10px;
    column-gap: 20px;
    display: flex;
    flex-direction: column;
}
  
  .hero-section .text-wrapper {
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffe500;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 20px;
  }
  .hero-section .artist-management {
    font-family: 'Days One', sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 20px;
  }
  .hero-section .we-re-here-to {
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  .hero-section .span {
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
  }
  .hero-section .text-wrapper-2 {
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
  }
  @media (max-width: 357px) {
    .hero-section .artist-management{
        font-size: 28px;
    }
}
  @media (max-width: 320px) {
    .hero-section .artist-management{
        font-size: 24px;
    }
}
@media (max-width: 320px) {
    .hero-section .we-re-here-to,
    .hero-section .span{
        font-size: 14px;
    }
}
  .hero-section .frame {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px;
  }
  .hero-section .logo-enhanced {
    width: 150px;
    height: 100px;
  } 

/*ABOUT US STYLE*/

  .about-us{
    width: auto;
  }
  .about-us .recent-activities {
    height: 90px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-us .recent-activities-2 {
    width: auto;
    height: 90px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .about-us .frame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 222px;
    height: 58px;
  }
  .about-us .frame-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  .about-us .text-wrapper-as,
  .about-us .text-wrapper-founders{
    font-family: 'Days One', sans-serif;
    font-weight: 400;
    color: #161616;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    cursor: pointer;
  }
  .about-us .text-wrapper-services{
    font-family: 'Days One', sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    cursor: pointer;
    color: white;
}
  .about-us .rectangle {
    width: 6px;
    height: 29px;
    background-color: #ffc600;
    display: inline-flex;
    margin-right: 5px;
  }
  .about-us .rectangle-2 {
    height: 41px;
    background-color: #1c1c1c;
    width: 6px;
  }

  /*RESPONSIVE ABOUT US SECTION*/
  @media (max-width: 479px) {
    .about-us .recent-activities,
    .about-us .frame
    .about-us .frame-2{
        display: none;
    }
}

/*SECOND SECTION*/
.hero-section-as{
    background-color: #7a7a7a;
    height: 720px;
    width: auto;
}
.hero-section-bb{
 
  text-align: left;
  width: auto;
}
.hero-section-as .overlap-group-as{
    background-image: url('assets/bg-image2.png');
    background-size: cover;
    height: 100%;
    width: auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    background-color: black;
}

.hero-section-bb .overlap-group-as{
  background-image: url('assets/bg-image2.png');
  background-size: cover;
  height: 100%;
  width: auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  background-color: black;
}
.hero-section-as .overlap-group-as >div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    padding: 20px 0;
}
.hero-section-bb .overlap-group-as >div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  padding: 20px 0;
}
.hero-section-as .overlap-group-as .space-1{
    grid-row: 1;
    width: min-content;
}
.hero-section-bb .overlap-group-as .space-1{
  grid-row: 1;
  width: min-content;
}
.text-container-as{
    padding: 10px;

}
  
.hero-section-as .FUNKYBEAT {
  font-family: 'Days One', sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}
.hero-section-bb .FUNKYBEAT {
  font-family: 'Days One', sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}
.hero-section-as .span-as {
  color: #ffc600;
}
.hero-section-bb .span-as {
  color: #ffc600;
}
.hero-section-as .we-are-more-than-as {
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  margin: 20px 0;
}
.hero-section-bb .we-are-more-than-as {
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  margin: 20px 0;
}
.div-as{
    display: flex;
    float: left;
    margin-top: 30px;
    gap: 30px;
}
.text-wrapper-book{
    font-family: "Inter-Regular", Helvetica;
    font-weight: bold;
    color: #000000;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.text-wrapper-3{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.text-wrapper-3:hover{
    scale: 1;
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
}
.book-now-as{
    width: 140px;
    height: 51px;
    border-radius: 16px;
    overflow: hidden;
    background: linear-gradient(180deg, rgb(255, 222.79, 108.59) 0%, rgb(255, 198.9, 0) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    }
.book-now-as:hover{
    scale: 1.1;
    transition: 0.3s;
}

@media (max-width: 531px) {
    .hero-section-as .text-wrapper-fb,
    .hero-section-as .span-as{
        font-size: 32px;
    }
}

@media (max-width: 320px) {
    .hero-section-as .text-wrapper-fb,
    .hero-section-as .span-as{
        font-size: 18px;
    }
}

a {
  text-decoration:none;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: subpixel-antialiased;
}
/**/

/*FEATURED ARTISTS HEADER*/

.black-header{
    width: auto;
  }
  .black-header .recent-activities {
    width: auto;
    height: 90px;
    background-color: #232323;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .black-header .frame {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58px;
  }
  .black-header .frame-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  .black-header .text-wrapper-bh {
    height: 46px;
    font-family: 'Days One', sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    cursor: pointer;
  }
  .black-header .rectangle {
    width: 6px;
    height: 29px;
    background-color: #ffc600;
    display: inline-flex;
    margin-right: 5px;
  }
  .black-header .rectangle-2-blackheader {
    height: 41px;
    background-color: #ffffff;
    width: 6px;
  }

  /*RESPONSIVE FEATURED ARTISTS SECTION*/
  @media (max-width: 479px) {
    .black-header .recent-activities,
    .black-header .frame
    .black-header .frame-2{
        display: none;
    }
}
  
/*THIRD SECTION - FEATURED ARTISTS*/
.body-fa{
    height: 700px;
    background-color: white;
    display: flex;
    justify-content: center;
}

  /*FEATURED ARTISTS SECTION - CAROUSEL*/
 
  .carousel-container {
    overflow-x: auto;
    display: flex;
    width: 100%;
    padding: 4rem;
  }
  
  .carousel-container::-webkit-scrollbar{
    display: none;
  }
  
  
.inside-container{
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .inside-container .fa-img{
    object-fit: contain;
  }
  section h3 {
    font-family: 'Days One', sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    text-transform: uppercase;
    padding: 5px 10px;

  
    /* Rotate from top left corner (not default) */
    /* transform: rotate(270deg); */
  }

  @media (max-width: 600px) {
    .carousel-slide {
      flex: 1 0 90%;
    }
  }
  
  


/*FUNKYMERCHS SECTION*/
.hero-section-fm{
    background-color: #7a7a7a;
    height: 720px;
    width: auto;
}
.hero-section-fm .overlap-group-fm{
    background-image: url('assets/bg-image3.png');
    background-size: cover;
    height: 100%;
    width: auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    background-color: black;
}

.hero-section-fm .overlap-group-fm >div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    padding: 20px 0;
}
.hero-section-fm .overlap-group-fm .space-1{
    grid-row: 1;
    width: min-content;
}
.text-container-fm{
    padding: 10px;

}
  
.hero-section-fm .FUNKYBEAT {
font-family: 'Days One', sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}
.hero-section-fm .span-as {
  color: #ffc600;
}
.hero-section-fm .we-are-more-than-as {
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  margin: 20px 0;
}
.div-as{
    display: flex;
    float: left;
    margin-top: 30px;
    gap: 30px;
}
.text-wrapper-book{
    font-family: "Inter-Regular", Helvetica;
    font-weight: bold;
    color: #000000;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    cursor: pointer;
}

.text-wrapper-3{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.text-wrapper-3:hover{
    scale: 1;
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
}
.book-now-as{
    width: 140px;
    height: 51px;
    border-radius: 16px;
    overflow: hidden;
    background: linear-gradient(180deg, rgb(255, 222.79, 108.59) 0%, rgb(255, 198.9, 0) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    }
.book-now-as:hover{
    scale: 1.1;
    transition: 0.3s;
}

@media (max-width: 531px) {
    .hero-section-as .text-wrapper-fb,
    .hero-section-as .span-as{
        font-size: 32px;
    }
}

@media (max-width: 320px) {
    .hero-section-as .text-wrapper-fb,
    .hero-section-as .span-as{
        font-size: 18px;
    }
}

/* WHAT'S NEW SECTION */
.wn-2part{
  height: auto;
  width: auto;
  background-color: white;
}
.hr-line{
  border: solid rgb(188, 183, 183) 1px;
  width: 80%;
  margin: auto;
}
.img {
  width: 130vh; 
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;;
  background:rgb(255, 255, 255);
  color: #000;
  padding: 0 10px 30px 10px;
}
.img p{
  text-align: start;
  padding: 20px 30px 0 30px;
  font-family: "Inter-Regular", Helvetica;
  font-size: 18px;
}

.carousel-slide .inside-container-wn{
  height: 100%;
  padding: 0 50px 0 50px;
  display: flex;
  align-items: center;
}
.body-fa-wn{
  height: 650px;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 2rem 0 0 0;
}


/*WHAT'S NEW PART 2 ARTICLES SECTION*/
.articles{
  color: #000;
}


.myflex-container {
  display: flex;
  flex-direction: row;
}

/* .myflex-item-left,
.myflex-item-right {
  flex: 100%;
  margin: 10px;
} */

img.imgoxauto {
  height: 100%;
  width: auto;
}

.myprod-image {
  height: 74px;
  margin-right: 10px;
}

/* .myflex-item-left > div,
.myflex-item-right > div {
  display: flex;
  padding: 30px;
} */

.myflex-item-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.clickable-card{
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  width: 96%;
  text-align: start;
  gap: 30px;
  margin-bottom: 10px;
  display: flex;
  padding: 20px;
}

/*CONTACT US STYLE*/
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  background-color: white;
  float: left;
  width: 50%;
  padding: 50px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.contact-container{
  background-color: white;
  padding: 100px 50px;
}
.contact-info{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 100px 0 100px 0;
  overflow:auto;
}
.info-icon{
  display: flex;
  gap: 20px;
}

/* Clear floats after the columns */
.contact-container:after {
  content: "";
  display: table;
  clear: both;
}
.contact-links{
  display: flex;
  gap: 30px;
  padding: 20px 0 20px 0;
}

/*placement of contact us button*/
.btn-position{
  display: flex;
  justify-content: flex-end;
  align-items: end;
}
.button-27 {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50%;
  will-change: transform;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, .column-input-form {
    width: 100%;
  }
}
.column-input-form{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 50px;
}
.input-group{
  margin-bottom: 30px;
}
input, textarea{
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 0 none #ccc;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
  color: #000000;
  background: transparent;
  font-size: 15px;
  resize: none;
}
textarea{
  height: 50px;
}
label{
  color: #000;
  height: 100%;
  padding: 10px;
  cursor: text;
  transition: 0.2s;
}
/* input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
  top: -35px;
  font-size: 14px;
} */
.row-input{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row-input .input-group{
  flex-basis: 48%;
}

/*ABOUT US 2ND PAGE (STYLE)*/

/* EVENTS STYLE */

/* .events-header-container {
    margin-top: 5%;
} */

.events-header-container h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  color: #ffc20e;
  text-transform: uppercase;

  text-align: center;
}

.events-main-container {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  gap: 150px;
}

.about-container-events {
  margin-bottom: 5%;
}

.event-banner img {
  max-width: 100%;
  max-height: 100%;
}

.list:hover{
  transform: scale(1.1);
  z-index: 1;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  transition: 1s;
}

/*activities and products page*/
.grid-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 3rem;
  padding: 4rem 1rem;
}
.grid-item {
  background-color: rgb(170, 175, 181);
  padding: 1rem;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media (min-width: 600px) {
  .grid-container { grid-template-columns: repeat(3, 1fr); }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
  .grid-item { grid-template-columns: repeat(3, 1fr); }
}

/*ABOUT US PAGE*/
.about-us-content{
  background-image: linear-gradient(rgba(39, 38, 38, 0.9), rgba(45, 45, 45, 0.9)), url('/css/assets/markharold.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-us-content2{
  height: 40rem;
  width: auto;
  background-color: #5B5B5B;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-us-content3{
  background-image: linear-gradient(rgba(39, 38, 38, 0.9), rgba(45, 45, 45, 0.9)), url('/css/assets/about-us/Our Services BG.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 70px 0 100px 0;
  height: auto;
  width: 100%;
  background-color: white;
  color: black;
}
.about-us-founders{
  padding: 70px 0 100px 0;
  height: auto;
  width: 100%;
  background-color: white;
  color: black;
}
.founder-title{
  width: 100%;
  padding-bottom: 40px;
}
.service-title{
  width: 100%;
  padding-bottom: 70px;
}
.founders{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.circle-container, .service-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 50px 20px 50px;
  width: 30%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.service-container{
  background-color: #D9D9D9;
}
.circle{
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-color: #000;
}
.service-box{
  height: 250px;
  width: 250px;
  background-color: #000;
  margin-bottom: 30px;
}
.desc, .desc-founder{
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  color: white;
}
.desc-founder{
  color: black;
}
@media (max-width: 1024px) {
  .founders { 
    gap: 20px;
  }
  .circle{
    height: 200px;
    width: 200px;
    margin: 0 auto;
  }
  .founder-content, .founder{
    display: none;
  }
  .desc, .desc-founder{
    height: 360px;
  }
}
@media (max-width: 900px) {
  .desc, .desc-founder{
    display: none;
  }
  .circle-container{
    padding: 0%;
    box-shadow: none;
  }
}
@media (max-width: 768px) {
  .circle-container{
    padding: 0%;
  }
  .service-box{
    height: 200px;
    width: 200px;
  }
  
}
@media (max-width: 700px) {
  .founders, .circle{
    display: block;
    margin-bottom: 10px;
  }
}

.namex{
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .col-table {
  
} */
.width-lg {
    width: 700px !important;
    padding-left: 100px;
}
.width-lg-2 {
  width: 700px !important;
  padding-right: 100px;
}
.width-md {
    width: 400px !important;
    min-width: 200px;
    height: 100%;
    background-image: url('assets/markharold2.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}
.hero-section-bb{
  width: auto;
}
.hero-section-bb .overlap-group-as{
  height: 100%;
  width: auto;
  display: grid;
}
@media (min-width: 600px) {
  .as-cards { grid-template-columns: repeat(2, 1fr); }
}
@media (max-width: 1024px) {
  .width-md{
    padding-left: 30px;
  }
  .width-lg{
    padding-left: 50px;
  }
}
@media (max-width: 768px) {
  .width-lg{
    padding-left: 50px;
  }
}

/*FOOTER*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  max-width: 1170px;
  margin:auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}

ul{
  list-style: none;
}
.footer-links{
  display: flex;
  gap: 20px;
}
.footer{
  background-color: #232323;
  padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #ffffff;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 20px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}
/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}