<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FunkyBeat | About Us</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="/css/style.css" class="rel">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Days+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" 
  integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" 
  crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--SCRIPTS-->
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css' rel='stylesheet' />
    <link rel="stylesheet" href="style.css" />
   
        </head>
<body>
  
    <header id="navbar">
        <div class="navigation-bar">
              <div class="logo-enhanced">
                <a href="#"><img class="img-size" src="/css/assets/old_logo.png" alt="FunkyBeat"></a>
              </div>
                  
                    <ul class="nav-links">
                      <li><a href="/index.html" id="item">Home</a></li>
                      <li><a href="/templates/aboutus.html" id="item">About Us</a></li>
                      <li><a href="/templates/artists.html" id="item">Artists</a></li>
                      <li><a href="/templates/activities.html" id="item">Activities</a></li>
                      <li><a href="/templates/products.html" id="item">Products</a></li>
                      <li><a href="/templates/contact-us.html" id="item">Contact Us</a></li>
                    </ul>
                    <!--a href button-->
                    <div class="book-now-container">
                      <a href="/templates/contact-us.html" class="book-now">Book Now</a>
                    </div>
                    <div class="toggle-btn">
                      <i class="fa-solid fa-bars"></i>
                    </div>
        </div> <!--end of navigation bar-->
      </header>
      
      <div class="about-us" id="about-us">
        <div class="recent-activities-2">
          <div class="frame">
            
              <div class="frame-2">
                <div class="rectangle"></div>
                <div class="rectangle-2"></div>
              </div>
              <div class="text-wrapper-as">About Us</div>
          </div>
        </div>
      </div>

      <!--4 sections-->
      <div class="as-container">
        <section class="about-us-content" id="">
          <div class="namex">
            <table class="col-table">
              <tr class="post">
                <th class="width-md">[POSTER]</th>
                <th class="width-lg">
                  <div class="hero-section-bb" >
                      <div class="space-1"></div>
                      <div class="text-container-as">
                          <p class="FUNKYBEAT"><span class="text-wrapper-fb">BRIEF</span><br><span class="span-as">BACKGROUND</span></p>
                          <p class="we-are-more-than-as">
                            We're not just about music; we're about creating an experience. 
                          Our merchandise store is an <br>extension of our passion for music and artistry. <br /><br />Here, you'll find a carefully curated collection of products 
                          that embody the spirit of Funkybeat <br>Entertainment.
                          </p>
                        </div>
                    </div>
                </th>
              </tr>
            </table>
          </div>
        </section>

        <section class="about-us-content2" id="">
          <div class="namex">
            <table class="col-table">
              <tr class="post">
                <th class="width-md">[POSTER]</th>
                <th class="width-lg">
                  <div class="hero-section-bb" >
                      <div class="space-1"></div>
                      <div class="text-container-as">
                          <p class="FUNKYBEAT"><span class="text-wrapper-fb">BRIEF</span><br><span class="span-as">BACKGROUND</span></p>
                          <p class="we-are-more-than-as">
                            We're not just about music; we're about creating an experience. 
                          Our merchandise store is an <br>extension of our passion for music and artistry. <br /><br />Here, you'll find a carefully curated collection of products 
                          that embody the spirit of Funkybeat <br>Entertainment.
                          </p>
                        </div>
                    </div>
                </th>
              </tr>
            </table>
          </div>
        </section>

        <section class="about-us-founders" id="">
          <div class="founder-title">
            <div class="about-us">
              <div class="text-wrapper-founders">THE FOUNDERS</div>
            </div>
          </div>
         <div class="founders">
          <div class="circle-container">
            <div class="circle">
              <img src="/css/assets/ziera-img.jpg" style="height:120%; width: 100%;">
            </div>
            <div class="desc-founder">
              <span style="font-weight: bold; font-size: 18px;">Ziera De Veyra</span>
              <span>President & Managing Director</span>
              <br>
              <p>Welcome to Funkybeat Entertainment, where the language is music, and the rhythm is life. </p>
            </div>
          </div>
          <div class="circle-container">
            <div class="circle">
              <img src="/css/assets/Francis-img.jpg" style="height:120%; width: 100%;">
            </div>
            <div class="desc-founder">
              <span style="font-weight: bold; font-size: 18px;">Francis De Veyra</span>
              <span>Vice President & Musical Director</span>
              <br>
              <p>Welcome to Funkybeat Entertainment, where the language is music, and the rhythm is life. </p>
            </div>
          </div>
          <div class="circle-container">
            <div class="circle">
              <img src="/css/assets/emma-img.jpg" style="height:120%; width: 100%;">
            </div>
            <div class="desc-founder">
              <span style="font-weight: bold; font-size: 18px;">Emmanuel Aguila</span>
              <span>President & Manging Director</span>
              <br>
              <p>Welcome to Funkybeat Entertainment, where the language is music, and the rhythm is life. </p>
            </div>
          </div>
         </div>
        </section>
<!--last section-->
        <section class="about-us-content3" id="">
          <div class="service-title">
            <div class="about-us">
              <div class="text-wrapper-services">OUR SERVICES</div>
            </div>
          </div>
         <div class="founders">
          <div class="service-container">
            <div class="service-box">
              <img src="/css/assets/about-us/Artist 1.png" style="height:100%; width: 100%;">
            </div>
            <div class="desc-founder">
              <span style="font-weight: bold; font-size: 18px;">Artists Management</span>
              <span>President & Managing Director</span>
              <br>
              <p>We provide professional representation and strategic guidance of artists, helping them navigate their careers by overseeing business aspects such as bookings, promotions, contracts, and overall career development. </p>
            </div>
          </div>
          <div class="service-container">
            <div class="service-box">
              <img src="/css/assets/about-us/Event Management.png" style="height:100%; width: 100%;">
            </div>
            <div class="desc-founder">
              <span style="font-weight: bold; font-size: 18px;">Event Management</span>
              <span>Vice President & Musical Director</span>
              <br>
              <p>Provide planning, coordination, and
                execution of various aspects
                involved in organizing and producing music-related events. 
                This includes concerts, festivals, gigs, and other live music performances.</p>
            </div>
          </div>
          <div class="service-container">
            <div class="service-box">
              <img src="/css/assets/about-us/Musical and Scoring AVP.png" style="height:100%; width: 100%;">
            </div>
            <div class="desc-founder">
              <span style="font-weight: bold; font-size: 18px;">Musical Scoring for Films & AVP</span>
              <span>President & Manging Director</span>
              <br>
              <p> We create and compose music specifically tailored to enhance the impact and storytelling of visual content. This process includes composing original music and synchronizing elements with the timing and mood of the visuals.</p>
            </div>
          </div>
         </div>
         <!--services 2-->
         <br><br><br>
         <div class="founders">
          <div class="service-container">
            <div class="service-box">
              <img src="/css/assets/about-us/Musical Direction for Theater and Concerts.png" style="height:100%; width: 100%;">
            </div>
            <div class="desc-founder">
              <span style="font-weight: bold; font-size: 18px;">Musical Direction for Theater and Concerts</span>
              <span>President & Managing Director</span>
              <br>
              <p>Involves overseeing the musical aspects of a live performance. Rehearsing musicians, working with the cast or performers to achieve musical cohesion, and ensuring that the musical elements enhance the overall production.</p>
            </div>
          </div>
          <div class="service-container">
            <div class="service-box">
              <img src="/css/assets/about-us/Musical Arranging and Composition.png" style="height:100%; width: 100%;">
            </div>
            <div class="desc-founder">
              <span style="font-weight: bold; font-size: 18px;">Musical Arranging and Composition </span>
              <span>Vice President & Musical Director</span>
              <br>
              <p>Composing music for commercial purposes, such as advertising, film, television, or other media. This could involve adapting a piece for a different instrument or creating a new arrangement of a song.</p>
            </div>
          </div>
         </div>
        </section>
      </div>

      <!--CONTACT US HEADER-->
    <div class="black-header">
      <div class="recent-activities">
        <div class="frame">
          
            <div class="frame-2">
              <div class="rectangle"></div>
              <div class="rectangle-2-blackheader"></div>
            </div>
            <div class="text-wrapper-bh">Contact Us</div>
        </div>
      </div>
    </div>

           <!--CONTACT US SECTION-->
  <div class="contact-container">
    <div class="column" style="background-color: black;">
      <h2>Contact Information</h2>
      <p>Say Something...</p>
      <div class="contact-info">
        <div class="info-icon"><i class="material-icons">phone</i> <p>0915 886 3390</p></div>
        <div class="info-icon"><i class="material-icons">email</i> <p>funkybeatent@gmail.com</p></div>
        <div class="info-icon"><i class="material-icons">home</i> <p>3 Bignay St., Project 2, Quezon City, Philippines</p></div>
      </div>
      <div class="contact-links">
        <a href="#"><i class="fab fa-discord" style="font-size: 20px;"></i></a>
        <a href="#"><i class="fab fa-twitter" style="font-size: 20px;"></i></a>
        <a href="#"><i class="fab fa-instagram" style="font-size: 20px;"></i></a>
      </div>
    </div>
    <div class="column-input-form">
      <form autocomplete="off">
        <div class="row-input">
          <div class="input-group">
            <input type="text" id="fname" required>
            <label for="name">First Name</label>
          </div>
          <div class="input-group">
            <input type="text" id="lname" required>
            <label for="name">Last Name</label>
          </div>
        </div>
        <div class="row-input">
          <div class="input-group">
            <input type="email" id="email" required>
            <label for="email">Email</label>
          </div>
          <div class="input-group">
            <input type="text" id="number" required>
            <label for="number">Phone</label>
          </div>
        </div>
        <div class="input-group">
          <textarea id="message" rows="8" required></textarea>
          <label for="number">Write Something...</label>
        </div>
        <div class="btn-position">
          <button class="button-27" role="button">Send Message</button>
        </div>
      </form>
    </div>
  </div>
  
  <footer class="footer">
    <hr class="hr-line"><br><br>
    <div class="container">
     <div class="row">
       <div class="footer-col" style="margin-right: 280px;">
         <h4>Reach Us</h4>
         <ul style="display:flex; flex-direction:column">
           <li class="footer-links"><i class="material-icons">phone</i> <p>0915 886 3390</p></li>
           <li class="footer-links"><i class="material-icons">email</i> <p>funkybeatent@gmail.com</p></li>
           <li class="footer-links"><i class="material-icons">home</i> <p>3 Bignay St., Project 2, Quezon City, Philippines</p></li>
         </ul>
       </div>
        <div class="footer-col">
          <h4>Company</h4>
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Legal</h4>
          <ul>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms & Services</a></li>
          </ul>
        </div>

       </div>

       <!--flex end company and legal-->
     </div>
    </div>
 </footer>

 <!--SCROLL TO TOP BUTTON-->
 <div class="progress-wrap">
  <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
  </svg>
</div>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
<script src="/script/script.js"></script>
<script src="https://smtpjs.com/v3/smtp.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>


</html>